apiVersion: apps/v1
kind: Deployment
metadata:
  name: jretirewise-web
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    spec:
      containers:
      - name: web
        imagePullPolicy: Always
        env:
        - name: SECURE_SSL_REDIRECT
          valueFrom:
            configMapKeyRef:
              name: jretirewise-config
              key: SECURE_SSL_REDIRECT
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
