apiVersion: v1
kind: ServiceAccount
metadata:
  name: jretirewise
  labels:
    app: jretirewise

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: jretirewise
  labels:
    app: jretirewise
rules:
- apiGroups: [""]
  resources: ["configmaps"]
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get"]
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list"]
- apiGroups: ["apps"]
  resources: ["deployments"]
  verbs: ["get", "list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: jretirewise
  labels:
    app: jretirewise
subjects:
- kind: ServiceAccount
  name: jretirewise
roleRef:
  kind: Role
  name: jretirewise
  apiGroup: rbac.authorization.k8s.io
